// variables


$dark: #282828;
$lessdark: #727f8f;
$bright: #ffffff;

$font-serif: Rokkitt, "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-sans: Amiko, Arial, sans-serif;

$width-tiny: 320px;
$width-smaller: 567px;
$width-small: 736px;
$width-medium: 1024px;
$width-large: 1366px;


// mixins


@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large)
    { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium)
    { @content; }
  }
  @else if $width == small-screens {
    @media only screen and (max-width: $width-small)
    { @content; }
  }
  @else if $width == smaller-screens {
    @media only screen and (max-width: $width-smaller)
    { @content; }
  }
  @else if $width == tiny-screens {
    @media only screen and (max-width: $width-tiny)
    { @content; }
  }
}

@mixin flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


// main content

html {
  max-width: 2556px;
}

body {

  background-color: $dark;
  font: {
    family: $font-serif;
    size: 14pt;
  }
  color: $bright;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
}


// header & nav


#banner {

  position: relative;
  clear: both;
  margin-left: 4.4%;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 680px;
  z-index: 1;

  font: {
    family: $font-sans;
  }
  color: $bright;
  text-transform: uppercase;

  header {
    position: relative;
  }

  & #logo {
    font: {
      size: 4.5em;
    }
    height: 1em;
  }

  & nav {
    font: {
      size: 1.2em;
    }
    
    margin: .25em 1.2em 0 .2em;

    @include flex-box;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: $bright;
      
      & span {
        padding: 0 .2em 0 .2em;
        opacity: .5;
      }
    }
  }

  .leftNav {
    margin-left: -1em;
  }

  .rightNav {
    margin-right: -1em;
  }

  @include responsive(wide-screens) {
    width: 600px;

    & #logo {
      font: {
        size: 3.9em;
      }
    }
  }


  @include responsive(medium-screens) {
    margin: 4% 0 0 4.6%;
    width: 440px;

    & #logo {

      font: {
        size: 2.8em;
      }

      line-height: 1em;
    }

    & nav {
      margin-top: -.25em;
      margin-left: .1em;
      margin-right: 7%;

    }

  }

  @include responsive(small-screens) {
    margin: 2% 0 0 4.2%;
    width: 334px;

    & #logo {

      font: {
        size: 2.1em;
      }

      line-height: 1em;
      margin-left: .1em;
      margin-right: 0;

    }

    & nav {
      margin-top: -.25em;
      margin-left: .2em;

    }
  }

  @include responsive(smaller-screens) {

    margin: 5% 0 0 5%;
    max-width: 100%;

    justify-content: flex-start;


    & #logo {
      font: {
        size: 2.2em;
      }
      line-height: 1em;
    }

    & nav {
      text-align: right;
      margin-top: -1%;
      margin-right: 2%;
    }

    & #contact_link {
      position: static;
    }
  }

  @include responsive(tiny-screens) {

    & #logo {
      font: {
        size: 1.8em;
      }
    }
    & nav {
      font-size: 1em;
      text-align: right;
      margin-right: 16%;
    }
  }
}


// wrapper

div#wrapper {
  height: 100%;
  max-width: 100%;
  margin-left: 4%;

  @include responsive(wide-screens) {
    margin: 2% 4% 4% 4%;
  }

  @include responsive(smaller-screens) {
    margin: 2% 4% 4% 4%;
  }

  @include responsive(tiny-screens) {
    margin: 2% -2%;
  }
}

// portfolio_gallery

#portfolio_gallery {

  z-index: 2;
  max-width: 100%;

  @include responsive(smaller-screens) {
    max-width: 96%;
  }

  @include responsive(tiny-screens) {
    max-width: 100%;
  }
}

.showcard {

  float: left;
  margin: 1%;

  @include responsive(wide-screens) {
    max-width: 100%;
    width: 46%;
  }

  @include responsive(medium-screens) {
    width: 46%;
  }

  @include responsive(smaller-screens) {
    margin: 2%;
    width: 100%;
  }

}

.thumbnail {

  float: left;
  max-width: 100%;
}

// footer

footer {

  @include flex-box;
  justify-content: space-between;
  align-items: baseline;
  background-color: $dark;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 3em;

  @include responsive(small-screens) {
    position: static;
    height: 2em;
  }

}

#top_button {

  font: {
    family: $font-sans;
  }
  font-weight: 600;
  color: $bright;
  padding: 1% 0 0 5%;
  font-size: .8em;
  text-decoration: none;

}

#copyright {

  font: {
    family: $font-sans;
  }
  font-weight: 400;
  color: $bright;
  padding: 1% 9% 2% 0;
  font-size: .8em;

  @include responsive(small-screens) {
    font-size: .6em;
    padding: 1% 5% 2% 0;
  }
}


// spotlight

#spotlight {

  max-width: 1330px;
  margin: 2% 0 1% 1%;
  position: relative;

  @include responsive(wide-screens) {
    max-width: 94%;
  }

  @include responsive(small-screens) {
    max-width: 100%;
    margin: 2% 2% 1% 2%;
  }

  @include responsive(tiny-screens) {
    max-width: 100%;
    margin: 2% -2% 1% 2%;
  }

  & #projectDescription {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    margin: 0 0 0 2%;
    background-color: $bright;
    color: $lessdark;
    height: 100%;
    overflow: scroll;

    @include responsive(small-screens) {
      width: 40%;
    }

    @include responsive(smaller-screens) {
      position: relative;
      width: 100%;
      height: auto;
      margin: 2% 0 2% 0;
    }
  }

  p {
      margin: 0 5% 5% 5%;
    }

  h3 {
    margin: 5% 5% 0 5%;
    font-family: $font-sans;
    text-transform: uppercase;
  }

    & div.imageWrapper {

      max-width: 79%;

      @include responsive(small-screens) {
        max-width: 60%;
      }

      @include responsive(smaller-screens) {
        max-width: 100%;
        float: left;
        clear: both;
      }

      & .thumbnailSlider {
        @include flex-box();
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        margin: 0 -.3% 0 -.3%;

        @include responsive(small-screens) {
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
          margin: 0 1% 0 -1.5%;

        }

        @include responsive(smaller-screens) {
          justify-content: flex-start;
          width: 103%;
          margin: 0 -.3% 0 -1%;
        }

        & a {
          border: solid $dark 3px;

          @include responsive(small-screens) {
            width: 30%;
          }

          @include responsive(smaller-screens) {
           width: 23%;
          }

          & img {
            max-width: 100%;
            padding-top: 3%;
            -webkit-transition: all .25s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
          }
        }
      }
    }
  }

#feature img {
  max-width: 100%;

  @include responsive(small-screens) {
    max-width: 98%;
  }

  @include responsive(smaller-screens) {
    max-width: 100%;
  }
}

// previous and next button

.imagePrevious, .imageNext {
  position: absolute;
  top: 40%;

  font: {
    weight: 800;
    size: 2em;
    family: $font-sans;
  }
  color: $bright;
  background-color: $dark;
  padding: .75% .5% 0 .5%;

  &:hover {
    cursor: pointer;
  }
}

.imagePrevious {
}

.imageNext {
  left: 76%;
}

.imagePrevious, .imageNext {
  @include responsive(small-screens) {
    visibility: hidden;
  }
}

// class styles, psuedo-classes

#banner nav a:hover {
  color: $lessdark;
}

img.thumbnail:hover {
  box-shadow: .5em .5em 1em #000;
}

a.emBiggen img:hover {
  -webkit-transition: all .25s ease;
  -moz-transition: all .5s  ease;
  -o-transition: all .5s ease ;
  transition: all .5s  ease;
  border-top: solid 6px $lessdark;
  margin-bottom: -6px;
}

a.thumbFeature {
  opacity: .5;
}
