// variables


$dark: #282828;
$lessdark: #626f7f;
$bright: #ffffff;

$font-serif: Rokkitt, "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-sans: Amiko, Arial, sans-serif;

$width-tiny: 320px;
$width-smaller: 567px;
$width-small: 736px;
$width-medium: 1024px;
$width-large: 1366px;


// mixins


@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large)
    { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium)
    { @content; }
  }
  @else if $width == small-screens {
    @media only screen and (max-width: $width-small)
    { @content; }
  }
  @else if $width == smaller-screens {
    @media only screen and (max-width: $width-smaller)
    { @content; }
  }
  @else if $width == tiny-screens {
    @media only screen and (max-width: $width-tiny)
    { @content; }
  }
}

@mixin flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// class styles


.active {

}


// main content

html {
  max-width: 1920px;
}

body {

  background-color: $dark;
  font: {
    family: $font-serif;
    size: 14pt;
  }
  font-weight: 600;
  width: 100%;
  margin: 0;
}


// header & nav


#banner {

  position: relative;
  clear: both;
  margin-left: 10.3%;
  margin-top: 2em;
  width: 600px;

  font: {
    family: $font-sans;
  }
  color: $bright;
  text-transform: uppercase;

  header {
    position: relative;
  }

  & #logo {
    font: {
      size: 3.9em;
    }
  }

  & nav {
    font: {
      size: 1.2em;
    }
    margin: -.25em 1.2em 0 .2em;

    & a {
      text-decoration: none;
      color: $bright;
    }

    & #contact_link {
      float: right;
    }
  }

  @include responsive(wide-screens) {
    & #logo {
      font: {
        size: 3.9em;
      }
    }
  }

  @include responsive(medium-screens) {
    margin: 4% 0 0 8.5%;
    width: 440px;

    & #logo {

      font: {
        size: 2.8em;
      }

      line-height: 1em;
    }

    & nav {
      margin-top: -.25em;
      margin-left: .1em;
      margin-right: 7%;
    }

  }


  @include responsive(small-screens) {
    margin: 2% 0 0 4.2%;
    width: 334px;

    & #logo {

      font: {
        size: 2.1em;
      }

      line-height: 1em;
      margin-left: .1em;
      margin-right: 0;

    }

    & nav {
      margin-top: -.25em;
      margin-left: .2em;

      & #contact_link {
        float: right;
      }
    }
  }

  @include responsive(smaller-screens) {

    margin: 5% 0 0 5%;
    @include flex-box;
    max-width: 100%;
    width: 340px;

    & #logo {
      font: {
        size: 1.8em;
      }
      line-height: 1em;

      & #logo_ralph {
        font-size: 1.225em;
      }
    }

    & nav {
      text-align: right;
      margin-top: 2.1%;
      margin-right: 2%;
    }

    & #contact_link {
      position: static;
    }
  }

  @include responsive(tiny-screens) {

    & #logo {
      font-size: 1.5em;
      line-height: 1em;

      & #logo_ralph {
        font-size: 1.225em;
      }
    }

    & nav {
      font-size: 1em;
      text-align: right;
      margin-top: 1.3%;
      margin-right: 10%;
    }
  }
}


// wrapper

div#wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;

  @include responsive(small-screens) {
    margin-left: 4%;
  }

  @include responsive(smaller-screens) {
    margin: 2% 4% 4% 4%;
  }

  @include responsive(tiny-screens) {
    margin: 2% -2%;
  }
}


// spotlight


// portfolio_gallery

#portfolio_gallery {

  max-width: 1174px;
  margin-left: 10%;

  @include responsive(medium-screens) {
    max-width: 100%;
    margin-left: 8%;
  }

  @include responsive(small-screens) {
    max-width: 100%;
    margin-left: 0;
  }

  @include responsive(smaller-screens) {
    max-width: 96%;
    margin-left: 0;
  }

  @include responsive(tiny-screens) {
    max-width: 100%;
  }
}

.showcard {

  float: left;
  margin: 1%;
  width: 48%;

  @include responsive(medium-screens) {
    width: 46%;
  }

  @include responsive(smaller-screens) {
    margin: 2%;
    width: 100%;
  }

}

.thumbnail {

  float: left;
  max-width: 100%;
}

// footer

footer {

  background-color: $dark;
  z-index: 1;
  height: 4em;
  width: 100%;
  position: fixed;
  bottom: -1em;

  @include responsive(medium-screens) {
    position: static;
  }

}

#copyright {

  font: {
    family: $font-sans;
  }
  font-weight: 400;
  color: $bright;
  float: right;
  padding: 1% 12% 2%;

  @include responsive(wide-screens) {
    font-size: .8em;
  }

  @include responsive(medium-screens) {
    font-size: .7em;
    padding: 1% 5% 2%;
  }

  @include responsive(small-screens) {
    font-size: .6em;
    padding: 1% 6% 2%;
  }

  @include responsive(smaller-screens) {
    font-size: .6em;
    padding: 1% 7% 2%;
  }

  .big {
    font-size: larger;
  }
}