// variables


$dark: #282828;
$lessdark: #626f7f;
$bright: #ffffff;

$font-serif: Rokkitt, "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-sans: Amiko, Arial, sans-serif;

$width-tiny: 320px;
$width-smaller: 567px;
$width-small: 736px;
$width-medium: 1024px;
$width-large: 1366px;


// mixins


@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large)
    { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium)
    { @content; }
  }
  @else if $width == small-screens {
    @media only screen and (max-width: $width-small)
    { @content; }
  }
  @else if $width == smaller-screens {
    @media only screen and (max-width: $width-smaller)
    { @content; }
  }
  @else if $width == tiny-screens {
    @media only screen and (max-width: $width-tiny)
    { @content; }
  }
}

@mixin flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


// main content

html {
  max-width: 2556px;
}

body {

  background-color: $dark;
  font: {
    family: $font-serif;
    size: 14pt;
  }
  color: $bright;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
}


// header & nav


#banner {

  position: relative;
  clear: both;
  margin-left: 4.4%;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 680px;
  z-index: 1;

  font: {
    family: $font-sans;
  }
  color: $bright;
  text-transform: uppercase;

  header {
    position: relative;
  }

  & #logo {
    font: {
      size: 4.5em;
    }
    height: 1em;
  }

  & nav {
    font: {
      size: 1.2em;
    }
    margin: .25em 1.2em 0 .2em;

    @include flex-box;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: $bright;
    }
  }

  @include responsive(wide-screens) {
    width: 600px;

    & #logo {
      font: {
        size: 3.9em;
      }
    }
  }

  @include responsive(medium-screens) {
    margin: 4% 0 0 4.6%;
    width: 440px;

    & #logo {

      font: {
        size: 2.8em;
      }

      line-height: 1em;
    }

    & nav {
      margin-top: -.25em;
      margin-left: .1em;
      margin-right: 7%;

    }

  }

  @include responsive(small-screens) {
    margin: 2% 0 0 4.2%;
    width: 334px;

    & #logo {

      font: {
        size: 2.1em;
      }

      line-height: 1em;
      margin-left: .1em;
      margin-right: 0;

    }

    & nav {
      margin-top: -.25em;
      margin-left: .2em;

    }
  }

  @include responsive(smaller-screens) {

    margin: 5% 0 0 5%;
    max-width: 100%;

    justify-content: flex-start;


    & #logo {
      font: {
        size: 2.2em;
      }
      line-height: 1em;
    }

    & nav {
      text-align: right;
      margin-top: -1%;
      margin-right: 2%;
    }

    & #contact_link {
      position: static;
    }
  }

  @include responsive(tiny-screens) {

    & #logo {
      font: {
        size: 1.8em;
      }
    }
    & nav {
      font-size: 1em;
      text-align: right;
      margin-right: 16%;
    }
  }
}


// wrapper

div#wrapper {
  height: 100%;
  max-width: 100%;
  margin-left: 4%;

  @include responsive(wide-screens) {
    margin: 2% 4% 4% 4%;
  }

  @include responsive(smaller-screens) {
    margin: 2% 4% 4% 4%;
  }

  @include responsive(tiny-screens) {
    margin: 2% -2%;
  }
}


// spotlight


// portfolio_gallery

#portfolio_gallery {

  z-index: 2;
  max-width: 100%;

  @include responsive(smaller-screens) {
    max-width: 96%;
  }

  @include responsive(tiny-screens) {
    max-width: 100%;
  }
}

.showcard {

  float: left;
  margin: 1%;

  @include responsive(wide-screens) {
    max-width: 100%;
    width: 46%;
  }

  @include responsive(medium-screens) {
    width: 46%;
  }

  @include responsive(smaller-screens) {
    margin: 2%;
    width: 100%;
  }

}

.thumbnail {

  float: left;
  max-width: 100%;
}

// footer

footer {

  @include flex-box;
  justify-content: space-between;
  align-items: baseline;
  background-color: $dark;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: -1em;
  height: 6%;

  @include responsive(wide-screens) {
    height: 9%;
  }

  @include responsive(medium-screens) {
    height: 8%;
  }

  @include responsive(small-screens) {
    position: static;
  }

}

#top_button {

  font: {
    family: $font-sans;
  }
  font-weight: 400;
  color: $bright;
  padding: 1% 0 0 5%;
  font-size: .8em;
  text-decoration: none;

}

#copyright {

  font: {
    family: $font-sans;
  }
  font-weight: 400;
  color: $bright;
  padding: 1% 9% 2% 0;
  font-size: .8em;

  @include responsive(small-screens) {
    font-size: .6em;
  }

  .big {
    font-size: larger;
  }
}


// class styles, psuedo-classes

#banner nav a:hover {
  color: $lessdark;
}

img.thumbnail:hover {
  box-shadow: .5em .5em 1em #000;
}
