html {
  max-width: 1920px; }

body {
  background-color: #282828;
  font-family: Rokkitt, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14pt;
  font-weight: 600;
  width: 100%;
  margin: 0; }

#banner {
  position: relative;
  clear: both;
  margin-left: 10.3%;
  margin-top: 2em;
  width: 600px;
  font-family: Amiko, Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase; }
  #banner header {
    position: relative; }
  #banner #logo {
    font-size: 3.9em; }
  #banner nav {
    font-size: 1.2em;
    margin: -1em 1.2em 0 .2em; }
    #banner nav a {
      text-decoration: none;
      color: #ffffff; }
    #banner nav #contact_link {
      float: right; }
  @media only screen and (max-width: 1366px) {
    #banner #logo {
      font-size: 3.9em; } }
  @media only screen and (max-width: 1024px) {
    #banner {
      margin: 4% 0 0 8.5%;
      width: 440px; }
      #banner #logo {
        font-size: 2.8em;
        line-height: 1em; }
      #banner nav {
        margin-top: -.25em;
        margin-left: .1em;
        margin-right: 7%; } }
  @media only screen and (max-width: 736px) {
    #banner {
      margin: 2% 0 0 4.2%;
      width: 334px; }
      #banner #logo {
        font-size: 2.1em;
        line-height: 1em;
        margin-left: .1em;
        margin-right: 0; }
      #banner nav {
        margin-top: -.25em;
        margin-left: .2em; }
        #banner nav #contact_link {
          float: right; } }
  @media only screen and (max-width: 567px) {
    #banner {
      margin: 5% 0 0 5%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      max-width: 100%;
      width: 340px; }
      #banner #logo {
        font-size: 1.8em;
        line-height: 1em; }
        #banner #logo #logo_ralph {
          font-size: 1.225em; }
      #banner nav {
        text-align: right;
        margin-top: 2.1%;
        margin-right: 2%; }
      #banner #contact_link {
        position: static; } }
  @media only screen and (max-width: 320px) {
    #banner #logo {
      font-size: 1.5em;
      line-height: 1em; }
      #banner #logo #logo_ralph {
        font-size: 1.225em; }
    #banner nav {
      font-size: 1em;
      text-align: right;
      margin-top: 1.3%;
      margin-right: 10%; } }

div#wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 100%; }
  @media only screen and (max-width: 736px) {
    div#wrapper {
      margin-left: 4%; } }
  @media only screen and (max-width: 567px) {
    div#wrapper {
      margin: 2% 4% 4% 4%; } }
  @media only screen and (max-width: 320px) {
    div#wrapper {
      margin: 2% -2%; } }

#portfolio_gallery {
  max-width: 1174px;
  margin-left: 10%; }
  @media only screen and (max-width: 1024px) {
    #portfolio_gallery {
      max-width: 100%;
      margin-left: 8%; } }
  @media only screen and (max-width: 736px) {
    #portfolio_gallery {
      max-width: 100%;
      margin-left: 0; } }
  @media only screen and (max-width: 567px) {
    #portfolio_gallery {
      max-width: 96%;
      margin-left: 0; } }
  @media only screen and (max-width: 320px) {
    #portfolio_gallery {
      max-width: 100%; } }

.showcard {
  float: left;
  margin: 1%;
  width: 48%; }
  @media only screen and (max-width: 1024px) {
    .showcard {
      width: 46%; } }
  @media only screen and (max-width: 567px) {
    .showcard {
      margin: 2%;
      width: 100%; } }

.thumbnail {
  float: left;
  max-width: 100%; }

footer {
  background-color: #282828;
  z-index: 1;
  height: 4em;
  width: 100%;
  position: fixed;
  bottom: -1em; }
  @media only screen and (max-width: 1024px) {
    footer {
      position: static; } }

#copyright {
  font-family: Amiko, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  float: right;
  padding: 1% 12% 2%; }
  @media only screen and (max-width: 1366px) {
    #copyright {
      font-size: .8em; } }
  @media only screen and (max-width: 1024px) {
    #copyright {
      font-size: .7em;
      padding: 1% 5% 2%; } }
  @media only screen and (max-width: 736px) {
    #copyright {
      font-size: .6em;
      padding: 1% 6% 2%; } }
  @media only screen and (max-width: 567px) {
    #copyright {
      font-size: .6em;
      padding: 1% 7% 2%; } }
  #copyright .big {
    font-size: larger; }

/*# sourceMappingURL=style.css.map */
